:root {
    --theme-hue: 256;
    --theme-saturation: 100%;
    --theme-hs: var(--theme-hue), var(--theme-saturation);
    --color-oramge: #ff824c;
    --color-red: #ee581f;
}

/* Simple Reset */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

*,
*::after,
*::before {
    box-sizing: inherit;

    scroll-behavior: smooth;
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    font-size: 100%;

    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::after,
    *::before {
        animation: none;
    }
    html:focus-within {
        scroll-behavior: auto;
    }
}

/* For width to not include padding and margin */

body {
    margin: 0;

    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: hsl(var(--theme-hs), 50%);

    background-color: hsl(var(--theme-hs), 98%);
}

h1 {
    font-size: calc(1em + 2vw);
}

h2 {
    font-size: calc(1em + 1vw);
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

textarea {
    white-space: revert;
}

.header,
.article,
.footer {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(100% - 2rem, 70rem);
    margin: 0 auto;

}

@supports (margin-inline: auto) {
    .section {
        margin-inline: auto;
    }
}

.card {
    border-radius: 5px;
    box-shadow: 0 0 0 1px #000;
    display: inline-block;
    margin: 3vh;
    padding: 20px 0 25px;
    width: 290px;

    text-align: center;
}

.card figcaption {
    text-decoration: underline;
    font-size: 1em;
    line-height: 1;
}

.footer {
    margin-bottom: 1vh;
    font-size: 0.8em;
}
