@layer base {
    :root {
        color-scheme: dark light;
        --text-color: oklch(53.22% 0.08 192.78);
        --bg-color: oklch(97.92% 0.021 193.19);
        --color-shadow-dark: oklch(39.22% 0.031 192.83);
        --color-shadow-light: oklch(53.78% 0.108 115.3);
        --color-shadow:-5px 3px 0 var(--color-shadow-dark), -11px 4px 0 var(--color-shadow-light);
        --color-shadow-hover: var(--color-shadow-dark) 1px 1px, var(--color-shadow-light) 2px 2px;
        --bg-link-btn: oklch(73.11% 0.18872464406115802 354.988964178936);
        --bg-link-btn-hover: oklch(87.52% 0.079 192.82);
        --color-link-btn: oklch(97.92% 0.021 193.19);
        --font-family-body: 'Young Serif', serif;
        --font-family-heading: 'Antonio', sans-serif;
        --base-line: 1.3;
        --base-font: calc(2em + (24 - 16) * ( (100vw - 400px) / (1600 - 400)));
        --headline-font: clamp(1rem, 4cqi, 3rem);

        --font-bold: 600;
        --line-height: 1.3;
    }
    @media (width >= 1024px) {
        :root {--baseLine: 1.5;}
    }
    @media screen and (prefers-reduced-motion: no-preference) {
        * {--anim-duration: .1s;}
    }
    * {
        transition-property: color, background-color, text-shadow;
        transition-duration: var(--anim-duration);
        transition-timing-function: cubic-bezier(.1,.56,.97,.47);
        animation-duration: var(--anim-duration);
    }
    html:has(.dark),
    body.dark {
        --text-color: oklch(92.74% 0.026 169.28);
        --bg-color: oklch(0.533 0.08 192.78);
        --bg-color-light: oklch(73.87% 0.031 191.2);
        --bg-link-btn: oklch(87.52% 0.079 192.82);
        --bg-link-btn-hover: oklch(73.11% 0.18872464406115802 354.988964178936);
        text-shadow: -4px 3px 0 var(--color-shadow-dark), -9px 8px 2px var(--color-shadow-light);
    }
    html {
        block-size: auto;
        font-size: 62.5%;
    }
    body {
        min-block-size: 100%;
        min-height: 100dvh;
        font-family: var(--font-family-body);
        font-size: var(--base-font);
        line-height: var(--base-line);
        color: var(--text-color);
        text-shadow: -1px 1px 0 var(--color-shadow-dark), -2px 2px 0 var(--color-shadow-dark);
        background-color: var(--bg-color);
        background-image:
                    linear-gradient(to bottom left in oklab,
                    var(--bg-color) 0%,
                    var(--bg-color-light) 100%
                );
    }
    h1, h2 {
        font-size: var(--headline-font);
        font-family: var(--font-family-heading);
        font-weight: var(--font-bold);
        text-wrap: normal;
        line-height: var(--line-height);
    }
    :is(header, article, footer) p {padding-block: 1.5rem;}
    button, select {
        font-family: var(--font-family-heading);
        font-size: var(--font-size-btn);
    }
    button {
        margin: 1rem;
        padding: 1rem;
        min-width: 110px;
        text-align: center;
    }
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        background: var(--text-color);
    }
    ::-webkit-scrollbar-thumb {
        background: var(--bg-link-btn);
    }
    ::-webkit-scrollbar-thumb:hover {
        background: var(--color-shadow-dark);
    }
}
