@layer typography {
    :root {--font-size-heading: calc(1em + 1vw);}

    h1 {font-size: calc(var(--font-size-heading) + 1vw);}

    h2 {font-size: var(--font-size-heading);}

    a {
        color: var(--bg-link-btn);
        transition: var(--transition);
        &:hover {color: var(--bg-link-btn-hover);}
    }
}
