@layer utilities {
    :root {
        --gap-small: 10px;
        --gap-medium: 20px;
        --media-width: 80%;
    }
    .flex {
        display: flex;
    }

    .flex-colum {
        flex-direction: column;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .items-center {
        align-items: center;
    }

    .justify-center {
        justify-content: center;
    }

    .gap-small {
        gap: var(--gap-small);
    }

    .gap-medium {
        gap: var(--gap-medium);
    }

    .row-gap-medium {
        row-gap: var(--gap-medium);
    }

    .column-gap-small {
        column-gap: var(--gap-small);
    }

    .w-100 {
        width: 100%;
    }

    .m-20 {
        margin: 20px;
    }

    .text-center {
        text-align: center;
    }

    @media only screen and (min-width: 768px) {
        .w-media {
            width: var(--media-width);
        }
        .w-media-80 {width: 80%;}
    }
}
